/*begin main styles*/
@import url("fonts.css");

*{
  box-sizing:border-box;
  padding:0;
  margin:0;
}

body{
  font-family:"Rockwell";
  font-size:14px;
  color:#424242;
}

h2 {
  font-size: 48px;
  color:#fff;
  font-weight: 200;
  padding: 0 0 28px 0;
}
a:hover{
  text-decoration:none;
}

.container{
  width:1170px;
  margin:0 auto;
  position: relative;
  z-index: 9;
}


.row:after,
.header-number:after,
.container:after{
  content:'';
  display:block;
  clear:both;
}

.screen{
  padding:30px 0;
}

.row{
  margin:0;
}
/*end main styles*/

/*begin header*/

.header{
  z-index:999;
  width:100%;
  background:#fff;
  position:fixed;
  top:0;
  left:0;
}

.header .logo-content {
 padding: 59px 0 56px 0;
 float: left;
}

.header .logo{
  padding: 0 0 0 20px;
}

.header .logo b {
  font-weight: bold;
  line-height: 29px;
}

.header .logo-img {
  width: 26px;
  height: 32px;
  float:left;
  background:url(../images/icon__server.png)center;
}


.header a {
  text-decoration:none;
  font-size:30px;
  font-weight: lighter;
  color:#202242;
  line-height:30px;
}

.header a:hover,
.header a:focus {
  font-size:30px;
  font-weight: normal;
  color:#202242;
}

.header .nav{
  float:left;
  margin: 70px 51px 57px 114px;
}

.header .nav li{
  list-style:none;
  float:left;
  line-height:0;
  margin-right: 37px;
}

.header .nav li:last-child{
  margin-right:0;
}

.header .nav li a{
  font-size: 16px;
  font-family: "Raleway";
  font-weight: normal;
  color:#202242;
  text-transform: uppercase;
  text-decoration:none;
  line-height:20px;
  transition:all .3s ease;
}

.header .nav li a:hover, a:focus{
  color:#ffe13e;
}

.header .nav li a:active{
  color:#ffe13e;
  font-weight: bold;
}

.header-contact {
  float: right;
}

 .big-border {
  border-left: 1px solid #ebebeb;
  padding: 39px 0 0 48px;
}

.small-border {
  border-left: 1px solid #babbc4;
  height: 35px;
  margin: 4px 0 0 0;
}

.help-number {
  display: block;
  font-family:'Raleway',sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.header-number {
  padding: 22px 0 31px 0;
}

.btn{
  display: block;
  float: left;
  font-size: 14px;
  font-family: "Raleway";
  color:#202242;
  font-weight: 600;
  line-height: 39px;
  width: 121px;
  border: 1px solid #ffe13e;
  background: #ffe13e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn:hover,
.btn:focus{
  color:#363965;
  border: 1px solid #ffe13e;
  background: #fff;
  transition: .2s ease;
}

.header-number .btn:hover, 
               .btn:focus
{ line-height: 39px; }

.number {
  display: block;
  float: right;
  font-size: 24px;
  font-family: "Lato";
  font-weight: bold;
  color:#202242;
  padding: 0 0 0 19px;
}
/*end header*/

/* Screen splash */

.screen.__splash{
  position:relative;
  background:url(../images/splash__bg.jpg) no-repeat center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 100vh;
  width: 100%;
  min-height: 768px;
}

.screen.__splash .container{
  top: calc(50% + 60px);
  transform: translateY(-50%);
}

.screen.__splash .darken {
  background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: 8;
}

.splash-web-info {
  text-align: center;
  margin: 0 auto;
}

.screen.__splash p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 30px;
  color: #fff;
  padding: 0 0 47px 0;
}

.icon-circle {
  background: url(../images/icon__circle.svg);
  background-size: 105px 114px;
  width: 105px;
  height: 114px;
}

.splash-domain {
  padding: 58px 0 40px 0;
  font-size: 18px;
}

.splash-domain form {
  display: inline-block;
  border: 17px solid #ddd;
}

.splash-domain input[type=text]  {
  padding: 2px 0 0 22px;
  height: 55px;
  font-size: 18px;
  width: 270px;
  border: none;
  outline: none;
  float: left;
}

input[type=text]:focus,
select:focus {
  outline: none;
}

.splash-domain input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}

.splash-domain select{
  -webkit-appearance: none;
  background-color:#ffe13e;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
  height: 55px;
  padding: 0 47px 0 24px;
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
}

.icon-down {
   background: url(../images/icon__down.png) no-repeat ;
     background-position: right center;
}

.splash-domain select.input-select {
  float: left;
  font-size: 18px;
}

.splash-domain select.input-select::after {
  content: ''; 
  position: absolute;
    background: green;
    left: 20px; bottom: -11px;
    width: 20px; height: 20px;
   transform: rotate(45deg); /* ÃÅ¸ÃÂ¾ÃÂ²ÃÂ¾Ã‘â‚¬ÃÂ°Ã‘â€¡ÃÂ¸ÃÂ²ÃÂ°ÃÂµÃÂ¼ ÃÂ½ÃÂ° 45Ã‚Âº */
    -webkit-transform: rotate(45deg);
    z-index: 9999;
}

.btn-domain {
  color:#fff;
  font-size: 14px;
  width: 160px;
  line-height: 53px;
  outline: none;
  border-left:1px solid #fff;
}

.btn-domain:hover,
.btn-domain:focus {
  border: none;
  line-height: 55px;
  transition: none;
}

/* Screen service */

.screen.__service{
  position:relative;
  min-height: 652px;
  max-height: 780px;
}

.screen.__service .container{
  position:relative;
  height:100%;
  z-index: 9;
}

.screen.__service .color {
  position: absolute;
  top: 0; bottom: 0;
  z-index: 5;
  width: 50%;
}

.screen.__service .color.blue {
  background: #202242;
  left: 0;
}
.screen.__service .color.yellow {
  background: #ffe13e;
  right: 0;
}

.icon-webhost {
  background: url(../images/icon__web.svg);
  background-size: 168px 169px;
  width: 168px;
  height: 169px;
}

.text-com {
  font-size: 134px;
  line-height: 175px;
  color: #202242;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.screen.__service .content {
    padding: 90px 80px 0 70px;
    width: 100%;
}

.screen.__service h2 {
    padding: 40px 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 36px;
    color: #fff;
}

.screen.__service p {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    line-height: 25px;
}

.screen.__service .btn-more {
    display: inline-block;
    border: 3px solid #fff;
    color: #fff;
    padding: 16px 53px;
    margin: 31px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    background: none;
    transition: .5s ease;
    
}
.screen.__service .btn-more:hover, .btn-more:focus {
    background: rgba(255, 255,255, 0.3);
}

/* Screen service */

.screen.__features{
  position:relative;
  min-height: 700px;
  max-height: 780px;
}

.screen.__features .container{
  position:relative;
  height:100%;
  z-index: 9;
}

.screen.__features .bg {
  position: absolute;
  background: url(../images/features__bg.jpg) no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  top: 0; bottom: 0;
  left:0; right: 0;
}

.screen.__features .content{
  padding: 0 10px 25px 10px;
}

.screen.__features .icon {
    width: 128px;
    height: 128px;
    padding: 0 0 128px 0; /* Ñ€Ð°Ð¼ÐºÑƒ ÑƒÐ±Ñ€Ð°Ð² Ð¾_Ðž */
}

.screen.__features .line {
    width: 70px;
    border-bottom: 3px solid #8d8d99;
    display: block;
    margin: 0 auto;
    padding: 29px 0 0 0;
}

.screen.__features .icon.support {
    background: url('../images/icon__support.png');
}

.screen.__features .icon.technology {
    background: url('../images/icon_technology.png');
}

.screen.__features .icon.database {
    background: url('../images/icon__database.png');
}

.screen.__features .icon.monitoring {
    background: url('../images/icon__monitoring.png');
}
.screen.__features h2 {
  font-size: 48px;
  line-height: 48px;
  color: #202242;
  padding: 60px 0 20px 0;
}


.screen.__features h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #f4d320;
  padding: 26px 0 20px 0;
}

.screen.__features p {
  font-family: "Raleway";
  font-size: 24px;
  line-height: 24px;
  color: #202242;
  padding: 0 0 60px 0;
}

.screen.__features p.light-text {
 font-size: 14px;
 line-height: 24px;
 padding: 0 12px 0 6px;
}
/* other */
.col-12 {
  width: 100%;
}
.col-6 {
  width: 50%;
}

.col-3 {
  width: 25%;
}
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}
