/*begin main styles*/
@import url("fonts.css");
<<<<<<< HEAD
*{
	box-sizing:border-box;
}

body{
	margin:147px 0 0 0;
	font-family:'Open Sans',sans-serif;
=======

*{
	box-sizing:border-box;
  padding:0;
  margin:0;
}

body{
	font-family:"Rockwell";
>>>>>>> master
	font-size:14px;
	color:#424242;
}

<<<<<<< HEAD
h1,h2,h3,h4,h5,h6{
	font-family:'Rockwell',serif;
  font-weight: 200;
  padding: 0;
}

h2 {
  font-size: 48px;
  color:#fff;
  margin: 0 0 28px 0;
=======
h2 {
  font-size: 48px;
  color:#fff;
  font-weight: 200;
  padding: 0 0 28px 0;
>>>>>>> master
}
a:hover{
	text-decoration:none;
}

.container{
	width:1170px;
	margin:0 auto;
<<<<<<< HEAD
	padding:0;
}

=======
}

.screen .container:after,
>>>>>>> master
.row:after,
.header-number:after,
.container:after{
	content:'';
	display:block;
	clear:both;
}

.screen{
	padding:30px 0;
}

.row{
<<<<<<< HEAD
	margin:0 -15px;
}

.col{
	float:left;
	width:calc(50% - 30px);
	height:50px;
	background-color:#000;
	margin:0 15px;
}

=======
	margin:0;
}
>>>>>>> master
/*end main styles*/

/*begin header*/

.header{
	z-index:999;
	width:100%;
	background:#fff;
	position:fixed;
	top:0;
	left:0;
}

.header .logo-content {
<<<<<<< HEAD
 padding: 0;
 margin: 0;
=======
 padding: 59px 0 56px 0;
>>>>>>> master
 float: left;
}

.header .logo{
<<<<<<< HEAD
    float: left;
    margin: 64px 106px 60px 0;
}

.header .logo b {
   font-family: "Rockwell";
   font-weight: bold;
}

.header .logo-img {
	margin: 59px 19px 57px 0;
=======
  padding: 0 0 0 20px;
}

.header .logo b {
  font-weight: bold;
  line-height: 29px;
}

.header .logo-img {
>>>>>>> master
	width: 26px;
	height: 32px;
	float:left;
	background:url(../images/icon__server.png)center;
}


.header a {
	text-decoration:none;
<<<<<<< HEAD
    font-size:30px;
    font-family:"Rockwell";
    font-weight: lighter;
    color:#202242;
    line-height:0.8;
=======
  font-size:30px;
  font-weight: lighter;
  color:#202242;
  line-height:30px;
>>>>>>> master
}

.header a:hover,
.header a:focus {
  font-size:30px;
  font-weight: normal;
  color:#202242;
}

<<<<<<< HEAD
.header-nav {
	float: left;
	margin: 71px 0 57px 0;
}

.header .nav{
	float:left;
	padding:0;
	margin:0;
	line-height:0;
=======
.header .nav{
	float:left;
  margin: 70px 51px 57px 114px;
>>>>>>> master
}

.header .nav li{
	list-style:none;
	float:left;
	line-height:0;
	margin-right: 37px;
}

.header .nav li:last-child{
	margin-right:0;
}

.header .nav li a{
  font-size: 16px;
  font-family: "Raleway";
  font-weight: normal;
  color:#202242;
  text-transform: uppercase;
	text-decoration:none;
	line-height:20px;
	transition:all .3s ease;
}

.header .nav li a:hover, a:focus{
	color:#ffe13e;
}

.header .nav li a:active{
  color:#ffe13e;
  font-weight: bold;
}

.header-contact {
  float: right;
<<<<<<< HEAD
  margin: 36px 0 30px 0;
=======
>>>>>>> master
}

 .big-border {
  border-left: 1px solid #ebebeb;
<<<<<<< HEAD
  margin: 0;
  padding: 37px 0 0 46px;
=======
  padding: 39px 0 0 48px;
>>>>>>> master
}

.small-border {
  border-left: 1px solid #babbc4;
<<<<<<< HEAD
  height: 34px;
  margin: 4px 0 0 20px;
=======
  height: 35px;
  margin: 4px 0 0 0;
>>>>>>> master
}

.help-number {
  display: block;
<<<<<<< HEAD
  padding: 3px 9px 0 1px;
=======
>>>>>>> master
  font-family:'Raleway',sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.header-number {
  padding: 22px 0 31px 0;
}

.btn{
  display: block;
  float: left;
  font-size: 14px;
  font-family: "Raleway";
  color:#202242;
  font-weight: 600;
<<<<<<< HEAD
  line-height: 36px;
  width: 124px;
=======
  line-height: 39px;
  width: 121px;
>>>>>>> master
  border: 1px solid #ffe13e;
  background: #ffe13e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn:hover,
.btn:focus{
  color:#363965;
  border: 1px solid #ffe13e;
  background: #fff;
  transition: .2s ease;
}

.header-number .btn:hover, 
               .btn:focus
<<<<<<< HEAD
{ line-height: 36px; }
=======
{ line-height: 39px; }
>>>>>>> master

.number {
  display: block;
  float: right;
<<<<<<< HEAD
  font-size: 26px;
  font-family: "Lato";
  font-weight: bold;
  color:#202242;
  padding: 0 0 0 17px;
}

=======
  font-size: 24px;
  font-family: "Lato";
  font-weight: bold;
  color:#202242;
  padding: 0 0 0 19px;
}
>>>>>>> master
/*end header*/

/* Screen splash */

.screen.__splash{
  position:relative;
<<<<<<< HEAD
  height:calc(100vh - 147px);
	background:url(../images/splash__bg.jpg) no-repeat center 147px fixed;
=======
	background:url(../images/splash__bg.jpg) no-repeat center center fixed;
>>>>>>> master
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
<<<<<<< HEAD
  min-height: 530px;
  max-height: 780px;
=======
  min-height: 768px;
  max-height: 980px;
>>>>>>> master
}

.screen.__splash .container{
	position:relative;
<<<<<<< HEAD
	height:100%;
=======
  top: 50%;
  transform: translateY(-50%);
>>>>>>> master
  z-index: 9;
}

.screen.__splash .darken {
  background: rgba(0, 0, 0, 0.3);
    position: absolute;
<<<<<<< HEAD
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
=======
    top: 0; right: 0;
    bottom: 0; left: 0;
>>>>>>> master
    z-index: 8;
}

.splash-web-info {
  position:absolute;
  text-align: center;
<<<<<<< HEAD
  margin: 0 auto 0 auto;
  padding: 20px 0;
  height:100%;
  width:calc(100% - 100px);
=======
  margin: 0 auto;
  padding: 167px 0;
  height:100%;
  width:100%;
>>>>>>> master
  background-size:cover;
}

.screen.__splash p {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 30px;
  color: #fff;
<<<<<<< HEAD
  margin: 0 0 42px 0;
=======
  padding: 0 0 47px 0;
>>>>>>> master
}

.icon-circle {
  background: url(../images/icon__circle.svg);
  background-size: 105px 114px;
  width: 105px;
  height: 114px;
}

.splash-domain {
  padding: 58px 0 140px 0;
  font-size: 18px;
}

.splash-domain form {
  display: inline-block;
  border: 17px solid #ddd;
}

.splash-domain input[type=text]  {
<<<<<<< HEAD
  padding: 0px 20px;
  height: 57px;
=======
  padding: 2px 0 0 22px;
  height: 55px;
>>>>>>> master
  font-size: 18px;
  width: 270px;
  border: none;
  outline: none;
  float: left;
}

input[type=text]:focus,
select:focus {
  outline: none;
}

.splash-domain input[type=text]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]::-moz-placeholder { /* Firefox 19+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-ms-input-placeholder { /* IE 10+ */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}
.splash-domain input[type=text]:-moz-placeholder { /* Firefox 18- */
  color: #2d2d2d;
  font-size: 18px;
  font-family: "Raleway";
}

.splash-domain select{
  -webkit-appearance: none;
  background-color:#ffe13e;
  background-repeat: no-repeat;
  border: 0;
  border-radius: 0;
<<<<<<< HEAD
  height: 57px;
  padding: 0 40px 0 25px;
=======
  height: 55px;
  padding: 0 47px 0 24px;
>>>>>>> master
  /* for FF */
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  /* for IE */
  -ms-appearance: none;
}

.icon-down {
   background: url(../images/icon__down.png) no-repeat ;
     background-position: right center;
}

.splash-domain select.input-select {
  float: left;
  font-size: 18px;
}

<<<<<<< HEAD
=======
.splash-domain select.input-select::after {
  content: ''; 
  position: absolute;
    background: green;
    left: 20px; bottom: -11px;
    width: 20px; height: 20px;
   transform: rotate(45deg); /* Поворачиваем на 45º */
    -webkit-transform: rotate(45deg);
    z-index: 9999;
}

>>>>>>> master
.btn-domain {
  color:#fff;
  font-size: 14px;
  width: 160px;
<<<<<<< HEAD
  line-height: 55px;
  padding: 0;
  margin:0;
=======
  line-height: 53px;
>>>>>>> master
  outline: none;
  border-left:1px solid #fff;
}

.btn-domain:hover,
.btn-domain:focus {
  border: none;
<<<<<<< HEAD
  line-height: 57px;
=======
  line-height: 55px;
>>>>>>> master
  transition: none;
}

/* Screen service */

.screen.__service{
  position:relative;
<<<<<<< HEAD
  min-height: 530px;
=======
  min-height: 652px;
>>>>>>> master
  max-height: 780px;
}

.screen.__service .container{
  position:relative;
  height:100%;
  z-index: 9;
}

.screen.__service .color {
  position: absolute;
<<<<<<< HEAD
  top: 0;
  bottom: 0;
  z-index: 5;
=======
  top: 0; bottom: 0;
  z-index: 5;
  width: 50%;
>>>>>>> master
}

.screen.__service .color.blue {
  background: #202242;
<<<<<<< HEAD
    right: 50%;
    left: 0;
}
.screen.__service .color.yellow {
  background: #ffe13e;
    right: 0;
    left: 50%;
=======
  left: 0;
}
.screen.__service .color.yellow {
  background: #ffe13e;
  right: 0;
>>>>>>> master
}

.icon-webhost {
  background: url(../images/icon__web.svg);
  background-size: 168px 169px;
  width: 168px;
  height: 169px;
}

.text-com {
  font-size: 134px;
  line-height: 175px;
  color: #202242;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

.screen.__service .content {
<<<<<<< HEAD
    padding: 0px 35px 0px 85px;
=======
    padding: 90px 80px 0 70px;
>>>>>>> master
    width: 100%;
}

.screen.__service h2 {
<<<<<<< HEAD
    margin: 50px 0 0 0;
        font-family: 'Raleway', sans-serif;
    font-weight: bold;
=======
    padding: 40px 0 10px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
>>>>>>> master
    font-size: 36px;
    color: #fff;
}

.screen.__service p {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
<<<<<<< HEAD
    line-height: 2;
=======
    line-height: 25px;
>>>>>>> master
}

.screen.__service .btn-more {
    display: inline-block;
    border: 3px solid #fff;
    color: #fff;
<<<<<<< HEAD
    padding: 16px 55px;
    margin: 20px 0;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
=======
    padding: 16px 53px;
    margin: 31px 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
>>>>>>> master
    background: none;
    transition: .5s ease;
    
}
.screen.__service .btn-more:hover, .btn-more:focus {
    background: rgba(255, 255,255, 0.3);
}
/* other */
<<<<<<< HEAD
.col-50 {
  width: 50%;
}

=======
.col-6 {
  width: 50%;
}

.col-3 {
  width: 33.33333333%;
}
>>>>>>> master
.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

