.sider_container img {
	max-width: 100%;
}
.sider_container {
	position: relative;
  margin-top: 20px;
}
.next_button, .prev_button {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 7em;
	color: #4fb248;
	cursor: pointer;
	font-size: 35px;
	padding: 0 20px;
	position: absolute;
	top: 40%;
	z-index: 10;
}
.next_button {
	right: 20px;
}
.prev_button {
	left: 20px;
}
